button { 
  $primary-color: white;
  $secondary-color: #222f3e;
  $tertiary-color: white;

  border: .125em $primary-color solid;
  border-radius: 1em 1em 1em 1em;
  background-color: $secondary-color;
  color: $primary-color;
  padding: 0 1.5em 0 1.5em;

  outline:0;
  &:hover{
    background-color: $primary-color;
    color: $secondary-color;
  }
  &.button--confirm{
    $primary-color: MediumAquamarine;
    border-color: $primary-color;
    color: $primary-color;
    &:hover{
      background-color: $primary-color;
      color: $tertiary-color;
    }

  }
}