button { 
  $primary-color: white;
  $secondary-color: #222f3e;

  border: .125em $primary-color solid;
  border-radius: 1em 1em 1em 1em;
  background-color: $secondary-color;
  color: $primary-color;
  padding: 0 1.5em 0 1.5em;

  outline:0;
  &:hover{
    background-color: $primary-color;
    color: $secondary-color;
  }
  &.button--confirm{
    $tertiary-color: MediumAquamarine;
    border-color: $tertiary-color;
    color: $tertiary-color;
    &:hover{
      background-color: $tertiary-color;
      color: $primary-color;
    }
  }
  &.button--danger{
    $tertiary-color: orangeRed;
    border-color: $tertiary-color;
    color: $tertiary-color;
    &:hover{
      background: $tertiary-color;
      color:$primary-color;
    }
  }
}